img{
    text-decoration: none;
    height: 162px;
    width: 200px;
}
table, th, td {
    
    text-align: center;
    border-style: inset;
    
  }
  th, td {
    padding: 15px;
  }

  .box{
    padding-left: 540px;
    margin-top: 10%;
}
.shop{
  margin-left: 20%;
}
.center{
 position: absolute;
 top: 40%;
 left: 50%;
transform: translate(-50%,-50%);
text-align: center;
}
.box2{
 margin-top: -9%;

}
.center button{
  margin-right: 19%;
}

